
как сделать так, чтобы при отправке сообщения от пользователя система определяла с каким роутером будет работать пользователь в зависимости от его роли(они хранятся в user (telegram_id, role))


wsgi.py:
import asyncio
import logging
from aiogram import Bot, Dispatcher
from aiogram.fsm.storage.memory import MemoryStorage
from config import Config, load_config
import src.handlers.student_echo as student_echo
import src.handlers.admin_echo as admin_echo
import src.handlers.guest_echo as guest_echo
import src.handlers.teacher_echo as teacher_echo
from src.db.db import init_db
from src.db.models import Base

async def main():
    logging.basicConfig(
        level=logging.INFO,
        format="%(filename)s:%(lineno)d #%(levelname)-8s [%(asctime)s] - %(name)s - %(message)s",
    )

    logging.info("Starting bot")
    init_db(Base)
    config: Config = load_config()

    bot_main = Bot(token=config.tg_bot_main.token)
    storage = MemoryStorage()
    dp_main = Dispatcher(bot=bot_main, storage=storage)

    dp_main.include_router(guest_echo.router_guest)
    dp_main.include_router(student_echo.router_student)
    dp_main.include_router(admin_echo.router_admin)
    dp_main.include_router(teacher_echo.router_teacher)

    await bot_main.delete_webhook(drop_pending_updates=True)
    await dp_main.start_polling(bot_main)

if __name__ == "__main__":
    try:
        asyncio.run(main())
    except (KeyboardInterrupt, SystemExit):
        logging.info("Bot stopped")


guest_echo.py
from aiogram import Router, F
from aiogram.types import Message, CallbackQuery
from aiogram.filters import CommandStart
import src.handlers.student_echo as student_echo
import src.handlers.teacher_echo as teacher_echo
import src.handlers.admin_echo as admin_echo
import src.db.crud.common_crud as crud
import src.keyboards.student_kb as student
import src.keyboards.teacher_kb as teacher
import logging

logging.basicConfig(level=logging.INFO)

router_guest: Router = Router()

@router_guest.message(F.text)
async def universal_handler(message: Message):
    user = crud.get_user_by_telegram_id(str(message.from_user.id))
    if user.role == 'student':
        logging.info(f"user rerout: {user.role}")
        await student_echo.handle_message(message)
    elif user.role == 'teacher':
        logging.info(f"user rerout: {user.role}")
        await teacher_echo.handle_message(message)
    elif user.role == 'admin':
        logging.info(f"user rerout: {user.role}")
        await admin_echo.handle_message(message)

    else:
        logging.info(f"user rerout: unknown (guest)")
        await guest_echo.handle_message(message)

#        logging.info(f"user rerout: {user.role}")


# Хэндлер для команды /start
@router_guest.message(CommandStart())
async def send_welcome(message: Message):
    user = crud.get_user_by_telegram_id(str(message.from_user.id))
    if user:
        if user.role == 'student':
            kb = student
            await message.answer(f"Добро пожаловать, {user.role}! Вы уже зарегистрированы.", reply_markup=kb.us_main_menu_kb)
        else :
            kb = teacher
            await message.answer(f"Добро пожаловать, {user.role}! Вы уже зарегистрированы.", reply_markup=kb.us_main_menu_kb)
    else:
        await message.answer("Добро пожаловать! Вас нет в системе. Пожалуйста, свяжитесь с администратором для регистрации. @NewFail")


student_echo.py(есть еще teacher_echo.py и они немного схожи но имеют разные функции):
from aiogram import Router, F
from aiogram.types import Message, CallbackQuery
from aiogram.filters import CommandStart
import src.db.crud.student_crud as crud
import src.keyboards.student_kb as kb
from src.handlers.common_echo import require_role

router_student: Router = Router()


# Обработчик для команды "👨 Профиль" с проверкой роли студента
@router_student.message(F.text == "👨 Профиль")
async def profile_student(message: Message):
    student = crud.get_student_by_telegram_id(str(message.from_user.id))
    if student:
        profile_text = (
            f"👤 ФИО: {student.fio}\n"
            f"👨‍🏫 Аккаунт зарегистрирован на: @{message.from_user.username}\n"
            f"🏫 Институт/факультет: {student.group.institute}\n"
            f"👥 Группа: {student.group.group_number}\n"
            f"👨‍🔬 Специальность: {student.group.specialty}\n"
            f"👀 Форма обучения: {student.group.form_of_study}\n"
            f"🎓 Уровень профессионального образования: {student.group.education_level}\n"
            f"🤑 Бюджет/контракт: {student.budget_contract}"
        )
        await message.answer(profile_text)


common_crud.py:
from sqlalchemy.orm import joinedload
from src.db.db import SessionLocal
from src.db.models import Users
import logging

logging.basicConfig(level=logging.INFO)

def get_user_by_telegram_id(tg_id):
    db = SessionLocal()
    user = db.query(Users).filter(Users.telegram_id == tg_id).first()
    logging.info(f"user requested: {user.role, user.telegram_id}")
    db.close()
    return user


